<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1055265542329-u1unrrctqofvtm36lta3jjrrq03c0hsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055265542329-u1unrrctqofvtm36lta3jjrrq03c0hsr</string>
	<key>API_KEY</key>
	<string>AIzaSyC7_80r4S2rZhgpCV_eu5_xTxxXPBMU_4o</string>
	<key>GCM_SENDER_ID</key>
	<string>1055265542329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doctot.covid19</string>
	<key>PROJECT_ID</key>
	<string>covid19-doctot</string>
	<key>STORAGE_BUCKET</key>
	<string>covid19-doctot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055265542329:ios:1cdc685b6fbfa641</string>
	<key>DATABASE_URL</key>
	<string>https://covid19-doctot.firebaseio.com</string>
</dict>
</plist>
