<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>COVID19.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CalciumCorrection.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Depression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GOLD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Geriatric.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>235FEC1E245026200072362C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236231AA222982C900CD7C15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2380CF33243B3F4E00B13226</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>238118311BC41F8D003920B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2381184D1BC41F8F003920B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>238118581BC41F8F003920B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2381186B1BC42111003920B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2381F17F1E6ECCB6004F6A53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2381F1F11E6ECD2E004F6A53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2381F20C1E6ECD2F004F6A53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2381F2171E6ECD2F004F6A53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2381F22E1E6ECD5F004F6A53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2381F24A1E6ECECB004F6A53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
