<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Advertiser</key>
	<array>
		<array>
			<string>Depression</string>
			<string>Hidden</string>
		</array>
		<array>
			<string>Default</string>
			<string>Hidden</string>
		</array>
	</array>
	<key>ThemeColour</key>
	<array>
		<array>
			<string>COVID19</string>
			<string>Purple</string>
		</array>
		<array>
			<string>CalciumCorrection</string>
			<string>Green</string>
		</array>
		<array>
			<string>GOLD</string>
			<string>Gold</string>
		</array>
		<array>
			<string>Geriatric</string>
			<string>Green</string>
		</array>
		<array>
			<string>Depression</string>
			<string>Blue</string>
		</array>
		<array>
			<string>Default</string>
			<string>Blue</string>
		</array>
	</array>
	<key>TextColourForTransparentBackground</key>
	<array>
		<array>
			<string>GOLD</string>
			<string>Black</string>
		</array>
		<array>
			<string>Default</string>
			<string>White</string>
		</array>
	</array>
	<key>ItemOffTextColour</key>
	<array>
		<array>
			<string>Default</string>
			<string>Gray</string>
		</array>
	</array>
	<key>ItemOnTextColour</key>
	<array>
		<array>
			<string>Default</string>
			<string>Black</string>
		</array>
	</array>
	<key>SettingsScaleSpecificOption</key>
	<array>
		<array>
			<string>Geriatric</string>
			<string>Yes</string>
		</array>
		<array>
			<string>CalciumCorrection</string>
			<string>Yes</string>
		</array>
		<array>
			<string>Default</string>
			<string>No</string>
		</array>
	</array>
	<key>Tester</key>
	<array>
		<array>
			<string>Geriatric</string>
			<array>
				<string>Eoin</string>
				<string>Hogan</string>
				<string>Tossy</string>
			</array>
		</array>
		<array>
			<string>Default</string>
			<array>
				<string>Gerry</string>
				<string>Ryan</string>
				<string>Sweetsie</string>
			</array>
		</array>
	</array>
	<key>SponsorsLink</key>
	<array>
		<array>
			<string>Default</string>
			<string>http://www.doctot.com</string>
		</array>
	</array>
	<key>RegistrationTextColour</key>
	<array>
		<array>
			<string>CalciumCorrection</string>
			<string>White</string>
		</array>
		<array>
			<string>Depression</string>
			<string>White</string>
		</array>
		<array>
			<string>Geriatric</string>
			<string>White</string>
		</array>
		<array>
			<string>COVID19</string>
			<string>White</string>
		</array>
		<array>
			<string>Default</string>
			<string>Black</string>
		</array>
	</array>
	<key>HomeNavbarTitleColour</key>
	<array>
		<array>
			<string>Default</string>
			<string>White</string>
		</array>
	</array>
	<key>ProgressArcLineColour</key>
	<array>
		<array>
			<string>Default</string>
			<string>White</string>
		</array>
	</array>
	<key>SocialMediaShareText</key>
	<array>
		<array>
			<string>GOLD</string>
			<string>Hey! Designed by an award-winning Health Informatics Group (Doctot) that was founded by an academically motivated Professor of Medical Science (Declan Lyons), this really unique, engaging and effective GOLD App can be downloaded for FREE below.
(P.S. While I genuinely do recommend it highly, I&apos;m kinda hopeful I&apos;ll receive in-app bonus points for letting you know about it too!!).</string>
		</array>
		<array>
			<string>CACH</string>
			<string>This app allows you to simply calculate Calcium Correction for Hypoalbuminemia for a patient taking Albumin readings into account</string>
		</array>
		<array>
			<string>Geriatric</string>
			<string>Hey! Designed by an award-winning Health Informatics Group (Doctot) that was founded by an academically motivated Professor of Medical Science (Declan Lyons), this really unique, engaging and effective Geriatric Diagnosis App can be downloaded for FREE below.
(P.S. While I genuinely do recommend it highly, I&apos;m kinda hopeful I&apos;ll receive in-app bonus points for letting you know about it too!!).</string>
		</array>
		<array>
			<string>Depression</string>
			<string>Hey! Designed by an award-winning Health Informatics Group (Doctot) that was founded by an academically motivated Professor of Medical Science (Declan Lyons), this really unique, engaging and effective Depression Diagnosis App can be downloaded for FREE below.
(P.S. While I genuinely do recommend it highly, I&apos;m kinda hopeful I&apos;ll receive in-app bonus points for letting you know about it too!!).</string>
		</array>
		<array>
			<string>Default</string>
			<string>Check out these terrific clinical diagnosis apps from Doctot</string>
		</array>
	</array>
	<key>SocialMediaShareAppleLink</key>
	<array>
		<array>
			<string>COVID19</string>
			<string>https://itunes.apple.com/us/app/covid19/1506577433?ls=1&amp;mt=8</string>
		</array>
		<array>
			<string>CACH</string>
			<string>https://itunes.apple.com/us/app/calcium-correction/1456114059?ls=1&amp;mt=8</string>
		</array>
		<array>
			<string>GOLD</string>
			<string>https://itunes.apple.com/ie/app/gold-copd-strategy/id576193649?mt=8</string>
		</array>
		<array>
			<string>Geriatric</string>
			<string>https://itunes.apple.com/ie/app/geriatric/id359355932?mt=8</string>
		</array>
		<array>
			<string>Depression</string>
			<string>https://itunes.apple.com/ie/app/depression/id351335898?mt=8</string>
		</array>
		<array>
			<string>Default</string>
			<string>http://www.doctot.com/products</string>
		</array>
	</array>
	<key>SocialMediaShareAndroidLink</key>
	<array>
		<array>
			<string>CACH</string>
			<string>*android app link*</string>
		</array>
		<array>
			<string>GOLD</string>
			<string>*android app link*</string>
		</array>
		<array>
			<string>Geriatric</string>
			<string>*android app link*</string>
		</array>
		<array>
			<string>Depression</string>
			<string>*android app link*</string>
		</array>
		<array>
			<string>Default</string>
			<string>*android app link*</string>
		</array>
	</array>
	<key>SocialMediaShareImage</key>
	<array>
		<array>
			<string>GOLD</string>
			<string>doctot.png</string>
		</array>
		<array>
			<string>Geriatric</string>
			<string>doctot.png</string>
		</array>
		<array>
			<string>Depression</string>
			<string>doctot.png</string>
		</array>
		<array>
			<string>Default</string>
			<string>doctot.png</string>
		</array>
	</array>
	<key>DoctotSocialMediaEnabled</key>
	<array>
		<array>
			<string>Default</string>
			<string>Yes</string>
		</array>
	</array>
	<key>DoctotAppSharingEnabled</key>
	<array>
		<array>
			<string>Default</string>
			<string>Yes</string>
		</array>
	</array>
</dict>
</plist>
